[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jerika/Desktop/exo-web-browser.desktop]
row=4
col=0

[2019-01-25-18-43-09-09]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/jerika]
row=3
col=0

